.pagination{
	display: flex;
	justify-content: center;
	margin-top: 8rem;

	@include breakpoint($mobile-bp){
		margin-top: 5rem;
	}
}

.pagination__item{
	margin: 0 .5rem;
}

.pagination__link{
	display: block;
	width: 40px;
	height: 40px;

	font-size: 14px;
	color: $white;
	text-decoration: none;
	text-align: center;
	line-height: 3.8rem;

	background-color: #0D0D0D;
	box-shadow: 0 4px 4px rgba($black, 0.25);
	border-radius: 3px;
	&.active{
		background-color: $blue;
		box-shadow: 0 0 10px rgba($blue, 0.15);
	}
	&:hover{
		background-color: lighten($black, 15%);
	}

}
