<div class="modal" id = "share-modal">
	<div class="modal__content modal__content--contact">

		<button class="modal__close">
			<img src="/assets/images/modal/cancel.svg" alt="">
		</button>

		<ul class="social social--modal">
				<li class="social__item">
					<a href="" target = "_blank" class="sosial__link">
						<img src="assets/images/modal/share/facebook.svg" alt="" class="social__img">
					</a>
				</li>

				<li class="social__item">
					<a href="_blank" class="sosial__link">
						<img src="assets/images/modal/share/twitter.svg" alt="" class="social__img">
					</a>
				</li>

				<li class="social__item">
					<a href="_blank" class="sosial__link">
						<img src="assets/images/modal/share/vk 2.svg" alt="" class="social__img">
					</a>
				</li>

				<li class="social__item">
					<a href="_blank" class="sosial__link">
						<img src="assets/images/modal/share/copy.svg" alt="" class="social__img">
					</a>
				</li>
			</ul>
	</div><!--modal__content-->
</div><!--modal-->
